<h1>Blogs#new</h1>
<p>Journalists write here.</p>
<div class='span6'>
<%= form_for @blog do |h| %>
  <%= h.label :bodyText %>
  <br />
  <%= h.text_area :bodyText, cols: 50, rows: 4, class: "message" %>
  <br />
  <span class="moneyup"></span>
  <%= h.submit 'add' %>
<% end %>
</div>
